@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="~/Content/normalize.min.css">
    <link rel="stylesheet prefetch" href="~/Content/main.css">
</head>
<body>
    <div class="container">
        <div id="quiz1"></div>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
</body>
</html>

<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: linear-gradient(to top right, darken(dodgerblue, 10%) 0%, dodgerblue 100%);
    }

    #quiz1 {
        width: 560px;
        background: #fff;
        padding: 2rem;
        border-radius: 3px;
    }
</style>
