@{
    ViewBag.Title = "";
}

<p>Համալսարանի պատմությունը</p>
<span>
    Արցախի պետական համալսարանը  հիմնադրվել է  1969 թ-ին  Լեռնային Ղարաբաղի Ինքնավար Մարզի  կենտրոն Ստեփանակերտ քաղաքում:
</span>
<p>
    Բուհի լրիվ անվանումը
</p>
<span>
    Արցախի պետական համալսարան պետական  ոչ առևտրային կազմակերպություն
</span>
<p>
    Կրճատ անվանումը
</p>
<span>
    ԱրՊՀ
</span>
<p>
    Հասցեն
</p>
<span>
    375000 ԼՂՀ, ք. Ստեփանակերտ, Մխիթար Գոշի 5
</span>
<p>
    Տեղեկատու հեռախոսահամար
</p>
<span>
    +37447 94-04-91<br />
    +37447 97-12-14
</span>
<p>
    Էլեկտրոնային հասցե`
</p>
<span>
    rector@asu.am
</span>
<p>
    Ֆաքս`
</p>
<span>
    (+374) 47 97 12 14
</span>
<p>
    Կայքէջ
</p>
<span>
    <a>
        www.asu.am
    </a>
</span>