@{
    ViewBag.Title = "Home Page";
}
@*<div class="jumbotron">
       <img src="~/Images/2.png"/>
    </div>*@
<div class="modal-content" style="padding: 16px">
    <div style="    margin-left: -15px;
    margin-top: -17px;">
        <img src="~/Images/2.png" class="mainImage" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Դիմել</h2>
            <p>
                Համալսարանն առաջարկում է կրթական ծրագրեր բազմաթիվ մասնագիտություններով, որոնց միջոցով կստանաք
                բարձրագույն կրթություն և աշխատաշուկայում կլինեք պահանջված աշխատող։

            </p>
            <p><a class="btn btn-primary" href="">Սկսել ուսուցումը &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Նորություններ</h2>
            <p>Կայքում կգտնեք հետաքրքիր և բազմապիսի նորություններ Ձեր ընտրած մասնագիտությանը համապատասխան։</p>
            <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301866">Իմանալ ավելին &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Աշխատանք</h2>
            <p>Բուհը գերազանց ավարտած ուսանողները կկարողանան ցանկության դեպքում հարցազրույց անցնելու միջոցով դասավանդելու և աշխատելու։</p>
            <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Մանրամասն &raquo;</a></p>
        </div>
    </div>
</div>


<link href="~/Content/HomeStyle.css" rel="stylesheet" />

<style>
    body {
        background-color: #f5eeee96;
    }
</style>